<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>System-Monitor</title>
<link rel="stylesheet"
	href="/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/ui.css">
<link rel="stylesheet" href="/assets/css/style.css">
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/axios.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

</head>
<style>
.bottom_server {
	position: fixed;
	right: 0px;
	bottom:0px;
	background: #666;
	color:  rgb(78, 26, 37);
	display: block;
	width: 100%;
	text-align: center;
	z-index: 10;
}

.bottom_server span {
	position: relative;
	display: block;
	left: 0;
}
#abs{
	position:relative;
}
 
</style>
<body class="gray-bg">
	<div id="abs">
		<div class="wrapper wrapper-content">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-6">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>CPU</h5>
								<div class="ibox-tools">
									<a class="collapse-link"><i class="fa fa-chevron-up"></i> </a>
									<a class="close-link"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="ibox-content">
								<table class="table table-hover no-margins">
									<thead>
										<tr>
											<th>属性</th>
											<th>值</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>核心数</td>
											<td>${server.cpu.cpuNum !'0个'}</td>
										</tr>
										<tr>
											<td>用户使用率</td>
											<td>${server.cpu.used + '%' ! '0%'}</td>
										</tr>
										<tr>
											<td>系统使用率</td>
											<td>${server.cpu.sys + '%'}</td>
										</tr>
										<tr>
											<td>当前空闲率</td>
											<td>${server.cpu.free + '%'}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>内存</h5>
								<div class="ibox-tools">
									<a class="collapse-link"><i class="fa fa-chevron-up"></i></a> <a
										class="close-link"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="ibox-content">
								<table class="table table-hover no-margins">
									<thead>
										<tr>
											<th>属性</th>
											<th>内存</th>
											<th>JVM</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>总内存</td>
											<td>${server.mem.total + 'G'}</td>
											<td>${server.jvm.total + 'M'}</td>
										</tr>
										<tr>
											<td>已用内存</td>
											<td>${server.mem.used + 'G'}</td>
											<td>${server.jvm.used + 'M'}</td>
										</tr>

										<tr>
											<td>剩余内存</td>
											<td>${server.mem.free + 'G'}</td>
											<td>${server.jvm.free + 'M'}</td>
										</tr>
										<tr>
											<td>使用率</td>
											<td>${server.mem.usage} %</td>
											<td>${server.jvm.usage} %</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>服务器信息</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a> <a class="close-link"> <i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-hover margin bottom">
											<tbody>
												<tr>
													<td>服务器名称</td>
													<td>${server.sys.computerName}</td>
													<td>操作系统</td>
													<td>${server.sys.osName}</td>
												</tr>
												<tr>
													<td>服务器IP</td>
													<td>${server.sys.computerIp}</td>
													<td>系统架构</td>
													<td>${server.jvm.name}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Java虚拟机信息</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a> <a class="close-link"> <i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">

								<div class="row">
									<div class="col-sm-12">
										<table class="table table-hover margin bottom">
											<tbody>
												<tr>
													<td>Java名称</td>
													<td>${server.jvm.name}</td>
													<td>Java版本</td>
													<td>${server.jvm.version}</td>
												</tr>
												<tr>
													<td>启动时间</td>
													<td>${server.jvm.startTime !'1970-08-01 00:00:00'}</td>
													<td>运行时长</td>
													<td>${server.jvm.runTime !'0天0时0分0秒'}</td>
												</tr>
												<tr>
													<td colspan="1">安装路径</td>
													<td colspan="3">${server.jvm.home}</td>
												</tr>
												<tr>
													<td colspan="1">项目路径</td>
													<td colspan="3">${server.sys.userDir}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>磁盘状态</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a> <a class="close-link"> <i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">

								<div class="row">
									<div class="col-sm-12">
										<table class="table table-hover margin bottom">
											<thead>
												<tr>
													<th>盘符路径</th>
													<th>文件系统</th>
													<th>盘符类型</th>
													<th>总大小</th>
													<th>可用大小</th>
													<th>已用大小</th>
													<th>已用百分比</th>
												</tr>
											</thead>
											<tbody>
												<#list server.sysFiles as sysFile>
												<tr>
													<td>${sysFile.dirName ! 'C:\\' }</td>
													<td>${sysFile.sysTypeName !'NTFS'}</td>
													<td>${sysFile.typeName!'local'}</td>
													<td>${sysFile.total !'0GB'}</td>
													<td>${sysFile.free!'0GB'}</td>
													<td>${sysFile.used !'0GB'}</td>
													<td>${sysFile.usage} %</td>
												</tr>
												</#list>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom_server">
			<span class="style4"> </span> <span class="style4"> </span> <span
				class="style4">@osvue</span><br /> <span style="font-family: arial;">Copyright
				&copy;2020 osvue</span> <#-- <span class="style4">解释权归<a
				href="https://osvue.github.io/">不是第一</a>所有 email：<font color="blue">hzqq110@163.com</font>
			</span> <br />-->
		</div>
	</div>
</body>
<script>
	
</script>
</html>
